body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0ce530;
    color: #1e36eb;
    padding: 100px;
   text-shadow: 5 5 20px rgb(0, 0, 0)
    

}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

.intro {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timeline {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.timeline-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.timeline-item {
    width: 300px;
    margin: 10px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}



